# Core functionality - changes here should be rare!
/src/app.py                   @Rustyteapot
/src/backend/database.py      @Rustyteapot
/src/backend/routers/auth.py  @Rustyteapot

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Rustyteapot
